<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android" android-versionCode="1" ios-CFBundleVersion="undefined" version="1.0.0.1" id="com.elievestudio.asempa"  >
  <name>COP USA INC CONSTITUTION</name>
<description>COP - U.S.A. CONSTITUTION offers leaders within the Church of Pentecost the updated position to exhibit leadership position with arguably the largest pentecostal church in the United State

The C.O.P. provides one of the all time tested leadership structure which was crafted by the founding fathers of the church. To understand these structures, one is required to follow the church's constitution diligently. This is why we offer our followers this digital library in simple understandable english. 

The app may also be beneficial to members and the christian community at large. This app is fully offline library written in simple HTML and Javascript. It is compatible on all versions of Android operating system.

In as much as we have ensure every sentence in the app is accurate, we fully accept any errors be it typographical or ideological which may be found in it. 

Kindly channel your concerns to us on elivestudiogh@gmail.com or https://www.facebook.com/elivestudio

Our staff commit themselves in providing adequately to power this online. We appreciate their effort in monetary terms. This support is made possible via our advertising partners (Google and Appnext). The ads are placed at the bottom in absolute professional to avoid irritation. Thank you
 </description>
<author>Elive Studio</author>
  <content src="index.html"/>
  
  <access origin="*"/>
  
  <allow-navigation href="*"/>
  <allow-intent href="itms:*"/>
  <allow-intent href="itms-apps:*"/>
  
  <preference name="android-build-tool" value="gradle" />
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="Orientation" value="default"/>

  <preference name="loglevel" value="DEBUG"/>
  <preference name="AndroidLaunchMode" value="singleTop"/>
  <preference name="ErrorUrl" value=""/>
  <preference name="Fullscreen" value="false"/>
  <preference name="KeepRunning" value="true"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="1000"/>

  <preference name="AllowInlineMediaPlayback" value="false"/>
  <preference name="AutoHideSplashScreen" value="true"/>
  <preference name="BackupWebStorage" value="cloud"/>
  <preference name="EnableViewportScale" value="false"/>
  <preference name="FadeSplashScreen" value="true"/>
  <preference name="FadeSplashScreenDuration" value="250"/>
  <preference name="KeyboardDisplayRequiresUserAction" value="true"/>
  <preference name="MediaPlaybackRequiresUserAction" value="false"/>
  <preference name="ShowSplashScreenSpinner" value="false"/>
  <preference name="SuppressesIncrementalRendering" value="false"/>
  <preference name="TopActivityIndicator" value="gray"/>
  <preference name="GapBetweenPages" value="0"/>
  <preference name="PageLength" value="0"/>
  <preference name="PaginationBreakingMode" value="page"/>
  <preference name="PaginationMode" value="unpaginated"/>
  <feature name="LocalStorage">
    <param name="ios-package" value="CDVLocalStorage"/>
  </feature>
  <preference name="UIWebViewDecelerationSpeed" value="normal"/>

  <preference name="monaca:AndroidIsPackageNameSeparate" value="false"/>
  
  <preference name="ios-XCBuildConfiguration-TARGETED_DEVICE_FAMILY" value="1,2"/>
  
  <preference name="phonegap-version" value="cli-6.2.0" />
<preference name="xwalkMultipleApk" value="false" />
<plugin name="cordova-plugin-crosswalk-webview"/>
<plugin name="cordova-admob" spec="4.1.16"/>
<plugin name="cordova-plugin-admobpro" spec="https://github.com/floatinghotpot/cordova-admob-pro.git"/> <!-- If available via Cordova registry; consider changing to an NPM reference. -->
<plugin name="cordova-plugin-extension" spec="1.5.2"/>
<plugin name="cordova-plugin-dialogs" spec="1.2.1"/>
<plugin name="cordova-plugin-whitelist" spec="1.2.2"/>

  <platform name="ios">
    <icon src="/res/ios/icon/icon.png" width="57" height="57"/>
    <icon src="/res/ios/icon/icon@2x.png" width="114" height="114"/>
    <icon src="/res/ios/icon/icon-72.png" width="72" height="72"/>
    <icon src="/res/ios/icon/icon-72@2x.png" width="144" height="144"/>
    <icon src="/res/ios/icon/icon-60.png" width="60" height="60"/>
    <icon src="/res/ios/icon/icon-60@2x.png" width="120" height="120"/>
    <icon src="/res/ios/icon/icon-60@3x.png" width="180" height="180"/>
    <icon src="/res/ios/icon/icon-76.png" width="76" height="76"/>
    <icon src="/res/ios/icon/icon-76@2x.png" width="152" height="152"/>
    <icon src="/res/ios/icon/icon-40.png" width="40" height="40"/>
    <icon src="/res/ios/icon/icon-40@2x.png" width="80" height="80"/>
    <icon src="/res/ios/icon/icon-50.png" width="50" height="50"/>
    <icon src="/res/ios/icon/icon-50@2x.png" width="100" height="100"/>
    <icon src="/res/ios/icon/icon-small.png" width="29" height="29"/>
    <icon src="/res/ios/icon/icon-small@2x.png" width="58" height="58"/>
    <icon src="/res/ios/icon/icon-small@3x.png" width="87" height="87"/>
    <icon src="/res/ios/icon/icon-83.5@2x~ipad.png" width="167" height="167"/>
    <splash src="/res/ios/screen/Default~iphone.png" width="320" height="480"/>
    <splash src="/res/ios/screen/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="/res/ios/screen/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <splash src="/res/ios/screen/Default-667h.png" width="750" height="1334"/>
    <splash src="/res/ios/screen/Default-736h.png" width="1242" height="2208"/>
    <splash src="/res/ios/screen/Default-Landscape-736h.png" width="2208" height="1242"/>
    <splash src="/res/ios/screen/Default-Portrait~ipad.png" width="768" height="1024"/>
    <splash src="/res/ios/screen/Default-Landscape~ipad.png" width="1024" height="768"/>
    <splash src="/res/ios/screen/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
    <splash src="/res/ios/screen/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
    <config-file platform="ios" parent="CFBundleLocalizations" target="*-Info.plist">
      <array>
        <string>en</string>
      </array>
    </config-file>
  </platform>
  <platform name="android">
	<preference name="android-minSdkVersion" value="16"/>
    <preference name="android-targetSdkVersion" value="23"/>
    <preference name="android-installLocation" value="auto"/>
    <preference name="android-signed" value="false"/>
    <preference name="Fullscreen" value="true"/>
    <preference name="AndroidLaunchMode" value="singleTop"/>
    <icon src="/res/android/icon/ldpi.png" density="ldpi"/>
    <icon src="/res/android/icon/mdpi.png" density="mdpi"/>
    <icon src="/res/android/icon/hdpi.png" density="hdpi"/>
    <icon src="/res/android/icon/xhdpi.png" density="xhdpi"/>
    <icon src="/res/android/icon/xxhdpi.png" density="xxhdpi"/>
    <icon src="/res/android/icon/xxxhdpi.png" density="xxxhdpi"/>
    <splash src="/res/android/screen/splash-port-ldpi.9.png" density="port-ldpi"/>
    <splash src="/res/android/screen/splash-port-mdpi.9.png" density="port-mdpi"/>
    <splash src="/res/android/screen/splash-port-hdpi.9.png" density="port-hdpi"/>
    <splash src="/res/android/screen/splash-port-xhdpi.9.png" density="port-xhdpi"/>
    <splash src="/res/android/screen/splash-port-xxhdpi.9.png" density="port-xxhdpi"/>
    <splash src="/res/android/screen/splash-port-xxxhdpi.9.png" density="port-xxxhdpi"/>
  </platform>
  <platform name="windows">
    <icon src="/res/winrt/icon/package_logo_winrt.png" target="StoreLogo"/>
    <icon src="/res/winrt/icon/app_logo_winrt.png" target="Square150x150Logo"/>
    <icon src="/res/winrt/icon/app_small_logo_winrt.png" target="Square30x30Logo"/>
    <icon src="/res/winrt/icon/app_tile_wide_logo_winrt.png" target="Wide315x150Logo"/>
    <splash src="/res/winrt/screen/app_splash_screen_winrt.png" width="620" height="300"/>
  </platform>
  <platform name="chrome">
    <icon src="/platforms/chrome/icon.png" width="128" height="128"/>
  </platform>
</widget>
